
.view-content {
  font-family: 'Courier New', monospace !important;
}
*/

.markdown-source-view {
  font-family: 'JetBrainsMono Nerd Font', Menlo, Monaco, 'Courier New', monospace !important;
}

.markdown-preview-view {
  font-family: Lora, sans-serif !important;
}