<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lineedit_history_choose_library_dialog</key>
	<array>
		<string>/home/fahmida/downloads/Calibre Library</string>
	</array>
	<key>lineedit_history_tag_browser_search</key>
	<array>
		<string>done</string>
		<string>working in public</string>
		<string>ref</string>
		<string>rust programming lang</string>
	</array>
	<key>lineedit_history_tag_list_search_box_Tags</key>
	<array/>
	<key>lineedit_history_viewer-search-panel-expression</key>
	<array>
		<string>honest connection</string>
		<string>by a direct and honest connection</string>
		<string>by a direct and honest connection to the</string>
		<string>by a direct and honest connection to the world around us</string>
		<string>true success by a direct and honest connection to the world around us</string>
		<string>then we can say ego inhibits true success by a direct and honest connection to the world around us</string>
		<string>company making</string>
		<string>billon do</string>
		<string>but the githube</string>
		<string>but the githube g</string>
		<string>month</string>
		<string>what</string>
		<string>Uncertainty</string>
		<string>more software bug</string>
		<string>si ar</string>
		<string>sex</string>
		<string>code (the final output of a project</string>
		<string>code the final output of a project</string>
		<string>not for me</string>
		<string>far more</string>
		<string>as a result of this</string>
		<string>so on</string>
		<string>hours a week to</string>
		<string>and conn</string>
		<string>and conntec</string>
		<string>learning</string>
		<string>over time</string>
		<string>by st</string>
		<string>pattern r</string>
		<string>full of p</string>
		<string>get up</string>
		<string>variable</string>
		<string>simp</string>
		<string>just</string>
		<string>blog</string>
		<string>freedom</string>
		<string>location 6</string>
		<string>location 630</string>
		<string>bread</string>
		<string>brad</string>
		<string>we're b</string>
		<string>we are b</string>
		<string>we are be</string>
		<string>mini</string>
		<string>care</string>
		<string>wait</string>
		<string>working with others</string>
		<string>army</string>
		<string>there</string>
		<string>interact</string>
		<string>think in terms of how</string>
	</array>
</dict>
</plist>
